/* this is  remove all the default margin and padding from all tag */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {    display: none; /* For Chrome, Safari, and Edge */}
.all-dish-container::-webkit-scrollbar {    display: none; /* For Chrome, Safari, and Edge */}


html,
body {
    height: 100vh;
    background-color: #0a0a0a;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* utility css */

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.flex {
    display: flex;
}

/* utility css end here */

/* this is the header css nav height is also in this */
header {
    height: 5vw;
    width: 100%;
}

/* this is the navbar-container css */
.navBar {
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 65px;
}

/* this is the company logo css */
.logo-div img {
    padding-top: 25px;
    min-height: 170px;
    height: 11vw;
}

/* this is the nav links parent css */
.nav-links-list {
    gap: 1vw;
}

/* this is the links child css */
.nav-links-item {
    position: relative;
    margin: 0 15px;
}

.nav-links-item {
    position: relative;
}

/* this is the pesudo element for the nav links */
.nav-links-item::after {
    display: none;
    content: "";
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 120%;
    right: 45%;
}

/* this is the active links  */
.nav-links-item.active::after {
    display: block;
}

.link {
    color: #7b7a7b;
    font-size: clamp(16px, 1.4vw, 1.4vw);
    font-weight: 500;
    position: relative;
    transition: all 0.5s ease;
}

.link:hover {
    color: #fff;
}

/* this is the search and shop parent  */
.search-div,
.shop-div {
    cursor: pointer;
}

/* this is logo css */
figure svg {
    width: 1.9vw;
}

/* this is the container of login and search css */
.login-search-shoping-container {
    padding-top: 1%;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

/* login btn css */
.login-btn-div {
    justify-content: center;
    padding-bottom: 1%;
    align-items: center;
    min-height: 40px;
    min-width: 90px;
    height: 3vw;
    width: 6.8vw;
    color: #fff;
    font-weight: 500;
    border: 2px solid #d5471b;
    border-radius: 5vw;
    background: linear-gradient(0deg, #010101 0%, #212021 100%);
    position: relative;
    z-index: 0;
}

.login-btn-div span {
    font-size: clamp(17px, 1.2vw, 1.2vw);
}



/* this is the main css */
main {
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
    padding-bottom: 50px;
}

/* this is the first blur css */
.blur-div {
    position: absolute;
    width: 180px;
    height: 180px;
    left: 12%;
    top: 35%;
    bottom: 0;
    border-radius: 50%;
    background-color: #ccc;
    filter: blur(140px);
}

/* this is the second blur css */
.second-blur {
    position: absolute;
    height: 15vw;
    width: 15vw;
    min-width: 140px;
    min-height: 140px;
    left: 70%;
    top: 35%;
    bottom: 0;
    border-radius: 50%;
    background-color: #de9d5f;
    filter: blur(150px);
}

/* this is the home page css */
.home-page {
    width: 100%;
    gap: 5vw;
}

/* this is right side of the landing page */
.right-side {
    width: 53.5%;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: max-content;
    gap: 30px;
    padding-top: 8%;
    padding-bottom: 5%;
}

/* this is the tile css of right side page */
.description-para-container .about-description {
    color: #e8e9e9;
    font-size: clamp(33px, 3vw, 3vw);
    line-height: 3.6vw;
    margin-bottom: 10px;
}

.description-para-container span {
    color: #d63808;
}

/* this is the paragraph */
.description-para-container .paragraph {
    color: #c9bec9;
    font-size: clamp(20px, 1.2vw, 1.2vw);
    font-weight: 500;
}

/* this is the container of start btn and video btn css */
.get-start-order-video-btn {
    gap: 30px;
}

/* start btn css */
.get-start-btn {
    min-height: 35px;
    height: 2.6vw;
    min-width: 100px;
    justify-content: center;
    align-items: center;
    width: 8.5vw;
    font-weight: 500;
    border: none;
    background: linear-gradient(0deg, #d63808 0%, #da823a 100%);
    border-radius: 5px 30px 30px 28px;
}

.get-start-btn a {
    color: #fff;
    font-weight: 500;
    font-size: clamp(14px, 1.1vw, 1.1vw);
}

/* order btn css */
.order-video-btn {
    background-color: transparent;
    justify-content: center;
    border: none;
    align-items: center;
    gap: 10px;
    font-size: clamp(14px, 1.1vw, 1.1vw);
    cursor: pointer;
    color: #fff;
}

.video-icon {
    border-radius: 50%;
}

.icon {
    position: relative;
    min-height: 30px;
    min-width: 30px;
    width: 2.083vw;
    height: 2.083vw;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
}

.play-icon {
    color: black;
    font-size: clamp(14px, 0.9vw, 1.42vw);
    margin-left: 2px;
}

/* this is the pesudo of order btn */
.icon::before {
    content: '';
    position: absolute;
    top: -11%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: rotate(316deg);
    border: 0.260vw solid #DA7A35;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

/* this is review food and resturants container css */
.reviews-item-restaurants-container {
    gap: 20px;
    align-items: center;
}

.review-item {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

hr {
    height: 30px;
    border: 1px solid rgb(103, 101, 101);
}

.review-item img {
    min-width: 40px;
    width: 3vw;
}

.review-details {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.review-details p {
    font-size: clamp(17px, 1vw, 1vw);
}

/* this is the css of leaf image */
.leaf-container img {
    width: 5vw;
    position: absolute;
    margin-top: -5vw;
    margin-left: 32%;
}

/* this is the left side of the landing page style */
.left-side {
    width: 50%;
    padding-top: 3%;
    height: max-content;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 8;
}

.left-side img {
    margin-left: 15%;
    height: 38vw;
}

.like-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
    width: max-content;
    padding: 7px;
    background-color: #e45963;
    border-radius: 5px;
    position: absolute;
    right: 10%;
    top: 28%;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
  }

  .heart {
    margin-right: 5px;
  }

  .heart i{
    font-size: clamp(17px, 1vw, 1vw);
  }  

  .like-count {
    font-size: clamp(16px, 1vw, 1vw);
  }
  

/* this is the css of hottest dish page */
.hottest-dish-page {
    margin-top: 5%;
    position: relative;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

/* hottest dish title of the page css */
.hottest-dish-page .title {
    color: #E6E6E6;
    font-size: clamp(25px, 2vw, 2vw);
    text-align: center;
}

/* this is css of dish container */
.all-dish-container {
    margin-top: 3vw;
    gap: 2vw;
    height: max-content;
    justify-content: center;
    align-items: center;
    padding: 30px 40px;
    position: relative;
    border-radius: 20px;
    width: 100%;
    overflow-y: auto;
    background-color: #161716;
}


/* dish card container css */
.dish-card-container {
    min-width: 150px;
    height: max-content;
    width: max-content;
    border-radius: 20px;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 18px 18px 15px 18px;
    background: linear-gradient(0deg, #212021 0%, #010101 100%);
}

/* fav crad logo css */
.fav-logo-div {
    position: absolute;
    min-height: 35px;
    min-width: 35px;
    height: 2.5vw;
    right: 7%;
    top: 4%;
    width: 2.5vw;
    border-radius: 50%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background: #212021;
}

.fav-logo-div i {
    font-size: clamp(15px, 1.3vw, 1.3vw);
    color: #E5E6E6;
}

.dish-image-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* this is css of dish card */
.dish-image-div img {
    min-height: 150px;
    height: 10vw;
    margin-top: 8%;
}

.dish-name-div h4 {
    margin-bottom: 2px;
    font-size: clamp(16px, 1.3vw, 1.3vw);
    color: #eee7e7;
}

.dish-name-div p {
    font-size: clamp(14px, 1.1vw, 1.1vw);
    font-weight: 500;
    color: #c9bec9;
    margin-bottom: 10px;
}

.separate-line {
    height: 2px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #454545;
}

.checked-star {
    margin-right: 3%;
}

.checked-star i {
    font-size: clamp(14px, 1.2vw, 1.2vw);
    color: #f29b38;
}

.notchecked-star i {
    color: #333433;
    font-size: clamp(15px, 1.2vw, 1.2vw);
}


/* .next button */
.next {
    top: 54%;
    right: -1.9vw;
    background: linear-gradient(0deg, #da823a 0%, #d63808 120%);
}

.next::before,
.next::after {
    content: '';
    position: absolute;
    height: 2vw;
    width: 2vw;
    background-color: #161716;
    box-shadow: 1.5vw 0px 0px #0a0a0a;
}

.next::before {
    top: 114%;
    left: 0.001vw;
    border-top-right-radius: 50%;
}

.next::after {
    top: -74%;
    left: 0.00001vw;
    border-bottom-right-radius: 50%;
}

/* this is the css of get start section */

.get-started {
    width: 100%;
    margin-top: 5%;
    justify-content: center;
    gap: 5vw;
    align-items: center;
}

.left-side-get{
    width: 40%;
    justify-content: center;
    align-items: center;
}

.right-side-get{
    width: 60%;
    gap: 2.5vw;
    flex-direction: column;
    height: max-content;
}

.circle {
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position: relative;
    background: linear-gradient(0deg, #dfdfdf 0%, #bdc5cd 100%);
    background-image: url(assests/images/WaitersImage/old\ women.jpg);
    background-size: cover;
}

.old-women-heart{
        display: flex;
        align-items: center;
        justify-content: center;
        height: max-content;
        width: max-content;
        padding: 7px;
        background-color: #e45963;
        border-radius: 5px;
        position: absolute;
        right: 0%;
        top: 10%;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
      }
    
      .old-women-heart i {
        margin-right: 5px;
      }
    
      .old-women-heart i{
        font-size: clamp(17px, 1vw, 1vw);
      }  
    
      .likecount {
        font-size: clamp(17px, 1vw, 1vw);
      }

.old-women-leaf{
    position: absolute;
    width: 5vw;
    top: 15%;
    left: -8%;
    transform: rotate(-85deg);
}

.heading{
    margin-bottom: 1%;
    color: #E6E6E6;
    font-size: clamp(28px, 2.7vw, 2.7vw);
}


.discription{
    font-size: clamp(24px, 1.7vw, 2vw);
    margin-bottom: 10px;
    color: #ddd9d9;
    font-family: 'Lucida Calligraphy', cursive, sans-serif;  font-family: 'Lucida Calligraphy', cursive, sans-serif;
}

.para{
    font-size: clamp( 15px, 1.2vw, 1.2vw);
    color: #c9bec9;
}

.food-order-leaf-div{
    gap: 1.5vw;
}

.food-order-box{
    width: max-content;
    max-width: 17vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: max-content;
    padding: 15px;
    background: linear-gradient(0deg, #010101 0%, #212021 100%);
    border-radius: 14px;
}

.food-order-box img{
    width: 7vw;
    height: auto;
    object-fit: cover;
}

.food-order-text{
    color: #E6E6E6;
    font-size: clamp(12px, 1.2vw, 1.2vw);
    margin-bottom: 5px;
}

.para-food-order{
    color: #c9bec9;
    font-size: clamp(12px, 1vw, 1vw);
    text-align: center;
    font-weight: 500;
}

.promte-rest-box{
    width: max-content;
    max-width: 17vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: max-content;
    padding: 15px;
    background: linear-gradient(0deg, #010101 0%, #212021 100%);
    border-radius: 14px;
}

.promte-rest-box img{
    margin-top: 2px;
    margin-bottom: 2px;
    width: 5vw;
    height: auto;
    object-fit: cover;
}

.promte-rest-text{
    color: #E6E6E6;
    font-size: clamp(12px, 1.2vw, 1.2vw);
    margin-bottom: 5px;
}

.para-promte-rest{
    color: #c9bec9;
    font-weight: 500;
    font-size: clamp(12px, 1vw, 1vw);
    text-align: center;
    margin-bottom: 5px;
}

.leaf-img{
    height: 5vw;
    margin-left: 15%;
}

.team-heading{
    color: #E6E6E6;
    font-size: clamp(25px, 2vw, 2vw);
    text-align: center;
    z-index: 5;
}

.best-team {
    margin-top: 5%;
    width: 100%;
    display: flex; /* Ensure this is set */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
}

.team-member-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: center;
    width: 100%;
    margin-top: 3%;
    height: max-content;
}

.team-member-card {
    min-width: 30%;
    width: 11vw; /* Adjust as needed */
    height: max-content;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box; /* Ensures padding and border are included in width and height */
}

.pizza-item {
    display: flex;
    align-items: center;
    background-color: #f0ebe4;
    min-width: max-content;
    position: absolute;
    bottom: 10%;
    left: 0;
    height: max-content;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.delivery-item{
    display: flex;
    align-items: center;
    background-color: #f0ebe4;
    min-width: max-content;
    position: absolute;
    bottom: 10%;
    top: 90%;
    right: 0%;
    height: max-content;
    padding-left: 2%;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.delivery-item img{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    margin-left: 1%;
}

.pizza-item img {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    margin-left: 1%;
}
.pizza-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pizza-details h4 {
    margin: 0;
    font-size:clamp(13px, 0.9vw, 0.9vw);
    color: #333;
}
.pizza-details span {
    font-size:clamp(13px, 0.9vw, 0.9vw);
    color: #999;
}


.team-member-card img {
    width: 100%; /* Make the image take the full width of the card */
    height: 100%; /* Make the image take the full height of the card */
    object-fit: cover; /* Ensure the image covers the entire area without distortion */
  }

  .team-member-card h4{
    position: absolute;
    z-index: 5;
    bottom: 10%;
    font-size: clamp(19px , 1.5vw , 1.5vw);
    left: 5%;
     color: #E6E6E6;
  }

  .team-member-card p{
    position: absolute;
    z-index: 5;
    bottom: 2%;
    font-size: clamp(14px , 1.5vw , 1.5vw);
    left: 5%;
     color: #CAC0C9;
  }

  
  footer {
    width: 100%;
    background-color: #111;
    color: #fff;
    padding: 40px 20px;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
  }
  
  .footer-section {
    flex: 1;
    min-width: 220px;
    margin: 10px;
  }
  
  .footer-section h3 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .footer-section ul {
    list-style: none;
  }
  
  .footer-section ul li {
    margin-bottom: 8px;
  }
  
  .footer-section ul li a {
    color: #bbb;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-section ul li a:hover {
    color: #fff;
  }
  
  .footer-section p {
    color: #bbb;
    max-width: 200px;
    margin-top: -15px;
  }

  .footer-section{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo img{
    margin-top: -45px;
    width: 120px;
  }
  
  .social-icons a {
    margin-right: 10px;
    color: #bbb;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #fff;
  }
  
  .app-links a {
    display: inline-block;
    margin-right: 10px;
  }
  
  .app-links img {
    max-height: 80px;
  }
/* this is the tablet media  */
@media (min-width: 767.68px) and (max-width: 1024px) and (orientation: portrait) {

    .navBar {
        padding: 0px 40px;
    }

    header {
        height: 5vh;
    }

    main {
        padding: 0px 50px;
        padding-bottom: 50px;
    }

    .blur-div {
        width: 150px;
        height: 150px;
        left: 15%;
        top: 15%;
        filter: blur(100px);
    }

    .second-blur {
        width: 200px;
        height: 200px;
        left: 35%;
        top: 70%;
        filter: blur(100px);
    }

    .home-page {
        flex-direction: column;
    }

    .right-side {
        width: 100%;
        gap: 30px;
    }

    .logo-div img {
        padding-top: 28px;
        height: 15vh;
    }

    .link {
        font-size: 1.5vh;
    }

    figure svg {
        width: 2vw;
    }

    .login-btn-div {
        height: 3.5vh;
        width: 7.8vh;
    }

    .login-btn-div span {
        font-size: 1.5vh;
    }

    .description-para-container .about-description {
        font-size: 4.4vh;
        line-height: 5vh;
        margin-bottom: 5px;
    }

    .description-para-container .paragraph {
        font-size: 2.4vh;
    }

    .get-start-order-video-btn {
        gap: 30px;
    }

    .get-start-btn {
        height: 4.2vh;
        width: 13vh;
        font-weight: 500;
        border: none;
        background: linear-gradient(0deg, #d63808 0%, #da823a 100%);
        border-radius: 5px 30px 30px 28px;
    }

    .get-start-btn a {
        font-weight: 600;
        font-size: 1.8vh;
    }

    .order-video-btn {
        gap: 6px;
        font-size: 1.8vh;
    }

    .icon {
        width: 3.9vh;
        height: 3.9vh;
    }

    .icon::before {
        top: -4px;
        transform: rotate(317deg);
        border: 0.400vh solid #DA7A35;
        border-right-color: transparent;
        border-bottom-color: transparent;
    }

    .play-icon {
        margin-bottom: 0%;
        font-size: 1.9vh;
    }

    .review-item img {
        width: 45px;
    }


    .review-details p {
        font-size: 1.9vw;
    }

    .leaf-container img {
        height: 6vh;
        width: auto;
        position: absolute;
        margin-top: -8vh;
        margin-left: 50%;
    }

    .left-side {
        width: 100%;
    }

    .left-side img {
        margin-left: 0%;
        margin-top: 0vh;
        height: 70vh;
    }

    .hottest-dish-page {
        margin-top: 15%;
    }


    .hottest-dish-page .title {
        font-size: 3vh;
    }


    .get-started {
        flex-direction: column;
        margin-top: 15%;
        gap: 5vh;
    }

    .left-side-get{
        width: 100%;
    }

    .circle {
        height: 45vh;
        width: 45vh;
    }

    .old-women-leaf{
        position: absolute;
        width: 8vh;
        top: 15%;
        left: -8%;
        transform: rotate(-85deg);
    }

    
    .right-side-get{
        width: 100%;
        flex-direction: column;
        gap: 3vh;
    }

    .heading{
        text-align: center;
        font-size: 5vh;
    }

    .discription-para{

        text-align: center;
    }

    .discription{
        font-size: 3vh;
    }

    .para{
        font-size: 2.5vh;
    }

    .food-order-box{
        width: 30vh;
        max-width: 30vh;
    }
    
    .food-order-box img{
        width: 18vh;
    }
    
    .food-order-text{
        font-size: 3.5vh;
        margin-bottom: 7px;
    }
    
    .para-food-order{
        font-size: 2.5vh;
    }
    
    
    .promte-rest-box img{
        width: 16vw;
        margin-top: 5px;
    }

    .promte-rest-box{
        width: 30vh;
        max-width: 30vh;
    }
    
    .promte-rest-text{
        text-align: center;
        font-size: 3.5vh;
        margin-bottom: 7px;
    }
    
    .para-promte-rest{
        font-size: 2.2vh;
    }
    
    .leaf-img{
        margin-top: 55%;
        position: absolute;
        height: 8vh;
        margin-left: 0%;
    }

    .team-member-card-container {
        gap: 2vh;
    }

    .team-member-card {
        width: 48%; 
    }

    .team-heading {
        font-size: 3vh;
    }

    .team-member-card h4 {
        bottom: 13%;
       font-size: 2.9vh;
    }

    .team-member-card p{
        bottom: 2%;
       font-size: 2.5vh;
      }

      .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    
      .footer-section {
        min-width: 100%;
      }
    
      .social-icons {
        margin-top: 20px;
      }

      .heart i{
        font-size: 24px;
      }

      .old-women-heart i{
        font-size: 24px;
      }  

      .like-count {
        font-size: 24px;
      }
    
      .likecount {
        font-size: 24px;
      }

      .pizza-item img {
        width: 6vh;
        height: 6vh;
        border-radius: 50%;
        margin-left: 1%;
    }

    .delivery-item img{
        width: 6vh;
        height: 6vh;
        border-radius: 50%;
        margin-left: 1%;
    }

}

/* this is the mobile media */
@media (min-width: 50px) and (max-width: 767px) {
    .navBar {
        padding: 0px 0px;
    }

    header {
        height: 6vh;
        padding-right: 15px;
    }

    .logo-div img {
        margin-left: -5px;
        margin-top: 15px;
    }

    .nav-links-list {
        gap: 0vh;
        display: none;
    }

    .nav-links-item {
        margin: 0 10px;
    }

    .link {
        font-size: 1.7vh;
    }

    .nav-links-item::after {
        display: none;
        content: "";
        height: 3px;
        width: 3px;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        top: 100%;
        right: 45%;
    }

    .login-search-shoping-container {
        margin-top: 2%;
        gap: 15px;
    }

    figure svg {
        width: 4.2vw;
    }

    .login-btn-div {
        height: 3.8vh;
        width: 7vh;
    }

    .login-btn-div span {
        font-size: 1.9vh;
    }

    main {
        margin-top: 12%;
        padding: 0px 18px;
        padding-bottom: 50px;
    }

    .blur-div {
        width: 100px;
        height: 100px;
        left: 12%;
        top: 12%;
        filter: blur(70px);
    }

    .second-blur {
        position: absolute;
        width: 150px;
        height: 150px;
        left: 35%;
        top: 87%;
        bottom: 0;
        border-radius: 50%;
        background-color: #de9d5f;
        filter: blur(70px);
    }


    .right-side {
        padding-top: 0vh;
        gap: 20px;
        width: 100%;
    }

    .home-page {
        flex-direction: column;
    }

    .description-para-container .about-description {
        font-size: 3.6vh;
        line-height: 4.2vh;
        margin-bottom: 8px;
    }

    .description-para-container .paragraph {
        font-size: 1.9vh;
    }

    .get-start-order-video-btn {
        gap: 15px;
    }

    .get-start-btn {
        height: 4.5vh;
        width: 13vh;
        font-weight: 500;
        border: none;
        background: linear-gradient(0deg, #d63808 0%, #da823a 100%);
        border-radius: 5px 30px 30px 28px;
    }

    .get-start-btn a {
        font-weight: 600;
        font-size: 1.8vh;
    }

    .order-video-btn {
        gap: 6px;
        font-size: 1.8vh;
    }

    .icon {
        width: 4.2vh;
        height: 4.2vh;
    }

    .icon::before {
        top: -2.9px;
        transform: rotate(317deg);
        border: 0.400vh solid #DA7A35;
        border-right-color: transparent;
        border-bottom-color: transparent;
    }

    .play-icon {
        margin-bottom: 5%;
        font-size: 2.1vh;
    }

    hr {
        height: 18px;
    }


    .review-details p {
        font-size: 1.5vh;
    }

    .leaf-container img {
        height: 4vh;
        width: auto;
        position: absolute;
        margin-top: -8vh;
        margin-left: 80%;
    }

    .left-side {
        width: 100%;
    }

    .left-side img {
        margin-left: 0%;
        height: 50vh;
    }

    .all-dish-container {
        margin-top: 3vh;
        width: 100%;
        gap: 2vh;
        border-radius: 15px;
    }

    .hottest-dish-page {
        margin-top: 20%;
    }

    .hottest-dish-page .title {
        font-size: 2.9vh;
    }


    .get-started {
        gap: 5vh;
        flex-direction: column;
        margin-top: 20%;
    }

    .left-side-get{
        width: 100%;
    }

    .circle {
        height: 35vh;
        width: 35vh;
    }

    .old-women-leaf{
        position: absolute;
        width: 8vh;
        top: 15%;
        left: -8%;
        transform: rotate(-85deg);
    }

    
    .right-side-get{
        width: 100%;
        gap: 4vh;
    }

    .heading{
        text-align: center;
    }

    .discription-para{
        text-align: center;
    }


    .food-order-box{
        width: 30vh;
        max-width: 30vh;
    }
    
    .food-order-box img{
        width: 13vh;
    }
    
    .food-order-text{
        font-size: 2.2vh;
        margin-bottom: 7px;
    }
    
    .para-food-order{
        font-size: 15px;
    }
    
    
    .promte-rest-box img{
        width: 15vw;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .promte-rest-box{
        width: 30vh;
        max-width: 30vh;
    }
    
    .promte-rest-text{
        text-align: center;
        font-size: 2.2vh;
    }
    
    .para-promte-rest{
        font-size: 15px;
    }
    
    .leaf-img{
        position: absolute;
        margin-top: 65%;
        height: 5vh;
    }

    .food-order-leaf-div {
        gap: 1.5vh;
    }

    .team-member-card-container {
        gap: 2vh;
    }

    .team-member-card {
        width: 47%; 
    }

    .team-member-card h4 {
        bottom: 16%;
       font-size: 2vh;
    }

    .team-member-card p{
        bottom: 5%;
      }

      .footer-section h3 {
        font-size: 22px;
      }
    
      .footer-section ul li a {
        font-size: 16px;
      }
    

      .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      .app-links img {
        max-height: 70px;
      }

      .items{
        left: -18%;
      }

      .pizza-item{
        top: 50%;
      }

      .pizza-item img {
        width: 6vh;
        height: 6vh;
        border-radius: 50%;
        margin-left: 1%;
    }

    .delivery-item img{
        width: 6vh;
        height: 6vh;
        border-radius: 50%;
        margin-left: 1%;
    }

}